body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}
/* 设置默认字体 */
body,
button,
input,
select,
textarea {
  /* for ie */
  /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
  font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}
h1 {
  font-size: 18px;
  /* 18px / 12px = 1.5 */
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* 将斜体扶正 */
code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}
/* 统一等宽字体 */
small {
  font-size: 12px;
}
/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul,
ol {
  list-style: none;
}
/* 重置文本格式元素 */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
abbr[title],
acronym[title] {
  /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom: 1px dotted;
  cursor: help;
}
q:before,
q:after {
  content: '';
}
/* 重置表单元素 */
legend {
  color: #000;
}
/* for ie6 */
fieldset,
img {
  border: none;
}
/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 使得表单元素在 ie 下能继承字体大小 */
}
/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 重置 hr */
hr {
  border: none;
  height: 1px;
}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {
  overflow-y: scroll;
}
.my-view {
  padding: 16px 32px;
}
/** button less 控制 button 字体颜色，大小，padding，背景，边框 */
.my-button .my-button-primary {
  color: #398bd0;
  background-color: #ebf3fa;
  border-color: #b0d1ec;
}
.my-button .my-button-primary.is-disabled,
.my-button .my-button-primary.is-disabled:hover,
.my-button .my-button-primary.is-disabled:focus,
.my-button .my-button-primary.is-disabled:active {
  color: #9cc5e8;
  background-color: #f5f9fd;
  border-color: #e1eef8;
}
.my-button .my-button-primary:active {
  color: #2e6fa6;
  border-color: #88b9e3;
  background-color: #b0d1ec;
}
.my-button .my-button-warning {
  color: #E6A23C;
  background-color: #fdf6ec;
  border-color: #f5dab1;
}
.my-button .my-button-warning.is-disabled,
.my-button .my-button-warning.is-disabled:hover,
.my-button .my-button-warning.is-disabled:focus,
.my-button .my-button-warning.is-disabled:active {
  color: #f3d19e;
  background-color: #fefaf5;
  border-color: #fbf1e2;
}
.my-button .my-button-warning:active {
  color: #b88230;
  border-color: #f0c78a;
  background-color: #f5dab1;
}
.my-button .my-button-success {
  color: #67C23A;
  background-color: #f0f9eb;
  border-color: #c2e7b0;
}
.my-button .my-button-success.is-disabled,
.my-button .my-button-success.is-disabled:hover,
.my-button .my-button-success.is-disabled:focus,
.my-button .my-button-success.is-disabled:active {
  color: #b3e19d;
  background-color: #f7fcf5;
  border-color: #e8f6e1;
}
.my-button .my-button-success:active {
  color: #529b2e;
  border-color: #a4da89;
  background-color: #c2e7b0;
}
.my-button .my-button-danger {
  color: #F56C6C;
  background-color: #fef0f0;
  border-color: #fbc4c4;
}
.my-button .my-button-danger.is-disabled,
.my-button .my-button-danger.is-disabled:hover,
.my-button .my-button-danger.is-disabled:focus,
.my-button .my-button-danger.is-disabled:active {
  color: #fab6b6;
  background-color: #fff8f8;
  border-color: #fee9e9;
}
.my-button .my-button-danger:active {
  color: #c45656;
  border-color: #f9a7a7;
  background-color: #fbc4c4;
}
.my-button .my-button-info {
  color: #909399;
  background-color: #f4f4f5;
  border-color: #d3d4d6;
}
.my-button .my-button-info.is-disabled,
.my-button .my-button-info.is-disabled:hover,
.my-button .my-button-info.is-disabled:focus,
.my-button .my-button-info.is-disabled:active {
  color: #c8c9cc;
  background-color: #f9fafa;
  border-color: #eeeff0;
}
.my-button .my-button-info:active {
  color: #73767a;
  border-color: #bcbec2;
  background-color: #d3d4d6;
}
.my-button .my-button-mini {
  padding: 32px 70px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 12px;
}
.my-button .my-button-small {
  padding: 48px 80px;
  font-size: 24px;
  font-weight: 500;
  border-radius: 12px;
}
.my-button .my-button-medium {
  padding: 60px 100px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 32px;
}
.my-button .my-button-large {
  padding: 60px 120px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 32px;
}
.my-button {
  display: inline;
  margin: 5px;
}
.my-button button {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  color: #111111;
  background-color: transparent;
  border-color: #a0a0a0;
  padding: 48px 80px;
  font-size: 24px;
  font-weight: 500;
  border-radius: 12px;
}
.my-button button.is-disabled,
.my-button button.is-disabled:active {
  color: #a0a0a0;
  background-color: #e7e7e7;
  border-color: #cfcfcf;
}
.my-button button:active {
  color: #0e0e0e;
  background-color: transparent;
  border-color: #585858;
}
.my-button button.is-round {
  border-radius: 100px;
}
.my-list .my-list-item {
  margin: 40px 0 0 0;
  padding: 40px 54px;
  background-color: #fff;
}
.my-list .my-list-item .list-item-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 60px 0;
}
.my-list .my-list-item .list-item-header .header-main-title-area {
  display: flex;
}
.my-list .my-list-item .list-item-header .header-main-title-area .header-title p {
  margin: 0 20px 0 0;
  font-family: PingFangSC-Regular;
  font-size: 24Px;
  color: #333333;
  line-height: 1;
}
.my-list .my-list-item .list-item-header .header-main-title-area .header-brief p {
  font-family: PingFangSC-Regular;
  font-size: 20Px;
  color: #666666;
  line-height: 1;
}
.my-list .my-list-item .list-item-header .header-main-status-area {
  display: flex;
}
.my-list .my-list-item .list-item-header .header-main-status-area .header-status-tags {
  margin: 0 20px 0 0;
}
.my-list .my-list-item .list-item-header .header-main-status-area .header-right-title p {
  font-family: PingFangSC-Light;
  font-size: 20Px;
  color: #666666;
  text-align: right;
  line-height: 1;
}
.my-list .my-list-item .list-item-content .content-item {
  display: flex;
  margin: 0 0 40px 0;
}
.my-list .my-list-item .list-item-content .content-item .content-title p,
.my-list .my-list-item .list-item-content .content-item .content-content p {
  font-family: PingFangSC-Regular;
  font-size: 20Px;
  color: #666666;
  line-height: 1;
}
.my-list .my-list-item .list-item-content .content-item .content-title {
  margin: 0 60px 0 0;
}
.my-list .my-list-item .list-item-content .content-item .list-icon {
  width: 20px;
  height: 20px;
  margin: 0 60px 0 0;
}
.my-list .my-list-item .list-item-content .content-item :last-child {
  margin: 0;
}
.my-list .my-list-item .list-item-content.half {
  width: 50%;
}
.my-tag .my-tag-mini {
  padding: 20px 50px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12px;
}
.my-tag .my-tag-has-border {
  border: 1px solid;
}
.my-tag .my-tag-small {
  padding: 36px 60px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12px;
}
.my-tag .my-tag-has-border {
  border: 1px solid;
}
.my-tag .my-tag-medium {
  padding: 40px 100px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 16px;
}
.my-tag .my-tag-has-border {
  border: 1px solid;
}
.my-tag .my-tag-large {
  padding: 48px 120px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 16px;
}
.my-tag .my-tag-has-border {
  border: 1px solid;
}
.my-tag {
  display: inline-block;
}
.my-tag span {
  padding: 36px 60px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12px;
  text-align: center;
  color: #333;
  background: transparent;
  border-radius: 3px;
}
.my-tag .my-tag-has-border {
  border: 1px solid;
}
.my-cell {
  padding: 60px 0;
}
.my-cell .my-cell-main {
  display: flex;
  justify-content: space-between;
}
.my-cell .my-cell-main .my-cell-title {
  display: flex;
}
.my-cell .my-cell-main .my-cell-title .title-text {
  color: #323233;
  font-size: 22px;
  line-height: 1.2;
}
.my-cell .my-cell-main .my-cell-title .my-cell-title-icon {
  line-height: 1;
}
.my-cell .my-cell-main .my-cell-main-right {
  display: flex;
}
.my-cell .my-cell-main .my-cell-main-right .my-cell-value {
  color: #969799;
  font-size: 22px;
  line-height: 1.2;
}
.my-cell .my-cell-main .my-cell-main-right .my-cell-arrow {
  line-height: 1;
}
.my-cell .my-cell-label {
  margin: 16px 0 0 0;
  color: #969799;
  font-size: 14px;
  line-height: 1;
  text-align: left;
}
.my-cell:active {
  background: #eeeeee;
}
.my-cell-group {
  padding: 0 40px;
}
.my-cell-group .group-title {
  margin: 0 0 100px 0;
  color: #969799;
  font-size: 22px;
  line-height: 1;
  text-align: left;
}
.my-radio-item .my-radio-input[type="radio"] + label::before {
  content: "\a0";
  /*不换行空格*/
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  border-radius: 50%;
  border: 1px solid #01cd78;
  text-indent: 0.15em;
  line-height: 1;
}
.my-radio-item .my-radio-input[type="radio"]:checked + label::before {
  background-color: #01cd78;
  background-clip: content-box;
  padding: 0.2em;
}
.my-radio-item .my-radio-input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
