.my-view {
  padding: 16px;
}
/** button less 控制 button 字体颜色，大小，padding，背景，边框 */
.my-button .my-button-primary {
  color: #398bd0;
  background-color: #ebf3fa;
  border-color: #b0d1ec;
}
.my-button .my-button-primary.is-disabled,
.my-button .my-button-primary.is-disabled:hover,
.my-button .my-button-primary.is-disabled:focus,
.my-button .my-button-primary.is-disabled:active {
  color: #9cc5e8;
  background-color: #f5f9fd;
  border-color: #e1eef8;
}
.my-button .my-button-primary:active {
  color: #2e6fa6;
  border-color: #88b9e3;
  background-color: #b0d1ec;
}
.my-button .my-button-warning {
  color: #E6A23C;
  background-color: #fdf6ec;
  border-color: #f5dab1;
}
.my-button .my-button-warning.is-disabled,
.my-button .my-button-warning.is-disabled:hover,
.my-button .my-button-warning.is-disabled:focus,
.my-button .my-button-warning.is-disabled:active {
  color: #f3d19e;
  background-color: #fefaf5;
  border-color: #fbf1e2;
}
.my-button .my-button-warning:active {
  color: #b88230;
  border-color: #f0c78a;
  background-color: #f5dab1;
}
.my-button .my-button-success {
  color: #67C23A;
  background-color: #f0f9eb;
  border-color: #c2e7b0;
}
.my-button .my-button-success.is-disabled,
.my-button .my-button-success.is-disabled:hover,
.my-button .my-button-success.is-disabled:focus,
.my-button .my-button-success.is-disabled:active {
  color: #b3e19d;
  background-color: #f7fcf5;
  border-color: #e8f6e1;
}
.my-button .my-button-success:active {
  color: #529b2e;
  border-color: #a4da89;
  background-color: #c2e7b0;
}
.my-button .my-button-danger {
  color: #F56C6C;
  background-color: #fef0f0;
  border-color: #fbc4c4;
}
.my-button .my-button-danger.is-disabled,
.my-button .my-button-danger.is-disabled:hover,
.my-button .my-button-danger.is-disabled:focus,
.my-button .my-button-danger.is-disabled:active {
  color: #fab6b6;
  background-color: #fff8f8;
  border-color: #fee9e9;
}
.my-button .my-button-danger:active {
  color: #c45656;
  border-color: #f9a7a7;
  background-color: #fbc4c4;
}
.my-button .my-button-info {
  color: #909399;
  background-color: #f4f4f5;
  border-color: #d3d4d6;
}
.my-button .my-button-info.is-disabled,
.my-button .my-button-info.is-disabled:hover,
.my-button .my-button-info.is-disabled:focus,
.my-button .my-button-info.is-disabled:active {
  color: #c8c9cc;
  background-color: #f9fafa;
  border-color: #eeeff0;
}
.my-button .my-button-info:active {
  color: #73767a;
  border-color: #bcbec2;
  background-color: #d3d4d6;
}
.my-button .my-button-mini {
  padding: 7px 15px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 3px;
}
.my-button .my-button-small {
  padding: 9px 15px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
}
.my-button .my-button-medium {
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
}
.my-button .my-button-large {
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
}
.my-button {
  display: inline;
  margin: 5px;
}
.my-button button {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  color: #111111;
  background-color: transparent;
  border-color: #a0a0a0;
  padding: 9px 15px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
}
.my-button button.is-disabled,
.my-button button.is-disabled:active {
  color: #a0a0a0;
  background-color: #e7e7e7;
  border-color: #cfcfcf;
}
.my-button button:active {
  color: #0e0e0e;
  background-color: transparent;
  border-color: #585858;
}
.my-button button.is-round {
  border-radius: 50px;
}
.my-list .my-list-item {
  margin: 20px 0 0 0;
  padding: 40px 32px;
  background-color: #fff;
}
.my-list .my-list-item .list-item-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px 0;
}
.my-list .my-list-item .list-item-header .header-main-title-area {
  display: flex;
}
.my-list .my-list-item .list-item-header .header-main-title-area .header-title {
  margin: 0 10px 0 0;
  font-family: PingFangSC-Regular;
  font-size: 32px;
  color: #333333;
  line-height: 32px;
}
.my-list .my-list-item .list-item-header .header-main-title-area .header-brief {
  font-family: PingFangSC-Regular;
  font-size: 26px;
  color: #666666;
  line-height: 32px;
}
.my-list .my-list-item .list-item-header .header-main-status-area {
  display: flex;
}
.my-list .my-list-item .list-item-header .header-main-status-area .header-status-tags {
  margin: 0 5px 0 0;
}
.my-list .my-list-item .list-item-header .header-main-status-area .header-right-title {
  font-family: PingFangSC-Light;
  font-size: 26px;
  color: #666666;
  text-align: right;
  line-height: 32px;
}
.my-list .my-list-item .list-item-content .content-item {
  display: flex;
  margin: 0 0 20px 0;
}
.my-list .my-list-item .list-item-content .content-item .content-title,
.my-list .my-list-item .list-item-content .content-item .content-content {
  font-family: PingFangSC-Regular;
  font-size: 26px;
  color: #666666;
  line-height: 24px;
}
.my-list .my-list-item .list-item-content .content-item .content-title {
  margin: 0 15px 0 0;
}
.my-list .my-list-item .list-item-content .content-item .list-icon {
  width: 5px;
  height: 5px;
  margin: 0 30px 0 0;
}
.my-list .my-list-item .list-item-content .content-item :last-child {
  margin: 0;
}
.my-list .my-list-item .list-item-content.half {
  width: 50%;
}
