.my-cell {
  .my-cell-main {
    display: flex;
    justify-content: space-around;
    .my-cell-title {
      display: flex;
      .title-text {
        color: #323233;
        font-size: 14px;
        line-height: 24px;
      }
    }
    .my-cell-main-right {
      display: flex;
      .my-cell-value {
        color: #969799;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
  .my-cell-label {
    color: #969799;
    font-size: 14px;
    line-height: 24px;
  }
}